
<!--
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0&appId=621682155107753&autoLogAppEvents=1" nonce="GAbqQa5b"></script>


<script>
alert("javascript start")
console.log("javascript start")
FB.login(function(response) {
    if (response.authResponse) {
     console.log('Welcome!  Fetching your information.... ');
     FB.api('/me', function(response) {
       console.log('Good to see you, ' + response.name + '.');
     });
    } else {
     console.log('User cancelled login or did not fully authorize.');
    }
});
alert("javascript stop")
console.log("javascript stop")

</script>


<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>
-->

<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '871392956714503',
      cookie     : true,
      xfbml      : true,
      version    : 'v7.0'
    });
     console.log('js code ' ) 
	 
    FB.AppEvents.logPageView();   
	
	
FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});
	
	
	FB.api(
  '/me',
  'GET',
  {},
  function(response) {
      // Insert your code here
	  
	  
	     console.log('js code ' +response.toString()+"*") 
	
  }
);
	
	
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
   
   
   
   
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
}
   
   
   
</script>